---
http_interactions:
- request:
    method: get
    uri: https://btcjam.com/payment_types.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |2-

        [
          {
            "id": 4,
            "name": "1st of the month",
            "days_of_interval": 30,
            "enabled": true,
            "translated_name": "1st of the month"
          },
          {
            "id": 5,
            "name": "5th of the month",
            "days_of_interval": 30,
            "enabled": true,
            "translated_name": "5th of the month"
          },
          {
            "id": 6,
            "name": "10th of the month",
            "days_of_interval": 30,
            "enabled": true,
            "translated_name": "10th of the month"
          },
          {
            "id": 3,
            "name": "Weekly",
            "days_of_interval": 7,
            "enabled": true,
            "translated_name": "Weekly"
          },
          {
            "id": 7,
            "name": "Monthly",
            "days_of_interval": 30,
            "enabled": true,
            "translated_name": "Monthly"
          }
        ]
  recorded_at: Fri, 09 Oct 2015 07:37:58 GMT
recorded_with: VCR 2.9.3
