---
http_interactions:
- request:
    method: get
    uri: https://btcjam.com/terms.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |2-

        [
          {
            "id": 4,
            "term_days": 30,
            "short_term": true,
            "name": "1 Month"
          },
          {
            "id": 5,
            "term_days": 60,
            "short_term": true,
            "name": "2 Months"
          },
          {
            "id": 6,
            "term_days": 90,
            "short_term": false,
            "name": "3 Months"
          },
          {
            "id": 8,
            "term_days": 180,
            "short_term": false,
            "name": "6 Months"
          },
          {
            "id": 9,
            "term_days": 270,
            "short_term": false,
            "name": "9 Months"
          },
          {
            "id": 10,
            "term_days": 365,
            "short_term": false,
            "name": "1 Year"
          }
        ]
  recorded_at: Mon, 12 Oct 2015 20:02:40 GMT
recorded_with: VCR 2.9.3
